<div class="modal fade" id="termos-de-servico-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header bg-primary">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title"> Termos de Serviço</h4>
			</div>
			<div class="modal-body>" style="margin-top: 15px;">
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">
						<h5> Caro estudante, ao solicitar sua Carteira de Identificação Estudantil você assume legalmente que: </h5>
						<ol style="margin: 20px">
							<li>Todos os dados informados são legítimos, incluindo os anexos. </li>
							<li>Não usará o benefício da meia entrada de forma ilícita, se passando ou deixando se passar por outra pessoa.</li>
							<li>A sua Carteira de Identificação Estudantil é um documento, portanto tem as mesmas obrigações e deveres que os demais.</li>
							<li>A sua Carteira de Identificação Estudantil pode ser revogada mediante o mau uso.</li>
						</ol>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success" data-dismiss="modal">Fechar</button>
			</div>
		</div>
	</div>
</div>