<div class="row">
    <div class="col-md-12">
        <div class="blog">
            <!-- Blog Posts -->
            <div class="col-md-8 col-sm-8">
                <section>
	                <div class="posts">
						<%= render @eventos %>                     
	                </div>
                </section>
            </div>                        
            <div class="col-md-4 col-sm-4">
                <%= render 'avisos/avisos_sidebar' %>
                <%= render 'eventos/eventos_sidebar' %>
            </div> 
       	</div>                                                   
    </div>
</div>