<div class="row">
    <div class="col-md-12">
        <!-- Contact starts -->
        <div class="contact">
            <div class="row">
                <div class="col-md-12">
                    <!-- Contact hero -->
                    <div class="hero">
                        <!-- Title. Don't forget the <span> tag -->
                        <h3><span>Contato</span></h3>
                        <!-- para -->
                        <p>Faça uma visita a UMESGO, deixe sua reclamação, sugestão, denúncia... Será um prazer recebê-lo.</p>
                    </div>
                    <!-- Contact -->
                    <div class="contact">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="cwell">
                                 	<%= render template: 'contatos/new' %>
                                    <div class="csoci">  
                                        <!-- Social media icons -->
                                        <strong>Redes Sociais</strong>
                                        <div class="social">
                                            <a href="https://www.facebook.com/umesgo"><i class="fa fa-facebook"></i></a>
                                            <a href="https://twitter.com/umesgo"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-linkedin"></i></a>
                                            <a href="#"><i class="fa fa-google-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                           </div>
                           <div class="col-md-6 col-sm-6">
                                <div class="cwell">
	                                <!-- Google maps -->
	                                <div class="gmap">
	                                 <!-- Google Maps. Replace the below iframe with your Google Maps embed code -->
	                                 <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3821.967066593445!2d-49.25765448557251!3d-16.678531388507043!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935ef1636255b3f5%3A0x78ea6e85b97a8599!2sRua+14%2C+56+-+St.+Central%2C+Goi%C3%A2nia+-+GO%2C+74030-050!5e0!3m2!1spt-BR!2sbr!4v1487865326765" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	                                </div>
                                    <!-- Address section -->
                                    <h5>Endereço</h5>
                                    <hr />
                                    <div class="address">
                                        <address>
                                            <!-- Company name -->
                                            <strong>UMESGO</strong><br>
                                            <!-- Address -->
                                            Sala 2, Rua 14, 56, Centro<br>
                                            Goiânia, GO 74013-030<br>
                                            <!-- Phone number -->
                                            <abbr title="Phone">Tel:</abbr>+55 (62) 4101-1117 <br />
                                        </address>
                                             
                                        <address>
                                            <!-- Name -->
                                            <strong>União Metropolitana dos Estudantes Secundaristas de Goiânia</strong><br>
                                            <!-- Email -->
                                              <a href="mailto:#">umesgyn@gmail.com</a>
                                        </address>
                                    </div>
                                </div>
                           </div>
                        </div> 
                    </div>  
                </div>
            </div>
        </div>
        <!-- Service ends -->
    <!-- CTA Ends -->      
    </div>
</div>