<div class="row">
         <div class="col-md-12">
            
            <!-- Full width starts -->
            
            <div class="full-width">
               <div class="row">
                  <div class="col-md-12">
                  
                     <!-- Full width hero -->
                     <div class="hero">
                        <!-- Title. Don't forget the <span> tag -->
                        <h3><span>Lei da Meia Entrada</span></h3>
                        <!-- para -->
                        <p> <a href=""> Lei 12.933 </a> aprovada e sancionada em Dezembro de 2013, regulamentada em Março de 2016.</p>
					           </div>
            					 <p>A meia-entrada está nas bandeiras de lutas dos estudantes há 70 anos e é um dos principais direitos conquistados pela juventude no século passado. Nos últimos anos, entretanto, ela foi fortemente atacada após a edição da Medida Provisória 2208/01, que concedeu a entidades alheias a escola e a universidade o poder de emissão da Carteira de Identificação Estudantil (CIE). O resultado foi a proliferação de fraudes, o que fragilizou o direito à meia-entrada e fez subir o preço dos ingressos. </p>
            						<p>Sancionada pela presidente Dilma Roussef no dia 26 de dezembro de 2013, a nova lei que regulamenta a meia-entrada em cinemas, circos, espetáculos teatrais, esportivos, musicais e de lazer mudou as regras de emissão das Carteiras de Identificação Estudantil (CIE), trazendo mais segurança para o estudante e para os produtores culturais. </p>
            						<p>Agora, apenas entidades estudantis podem emitir o documento, que passou por uma padronização nacional, incluindo a certificação digital, código de barras e QR Code para eliminar as fraudes. O desconto de 50% no pagamento dos ingressos para os deficientes e para jovens de 15 a 29 anos de baixa renda inscritos no Cadastro Único para Programas Sociais do governo federal também foi autorizado pela nova lei.</p>
            						<p>A Lei nº 12.933 ainda assegura que 40% dos ingressos dos espetáculos artísticos, culturais e esportivos sejam reservados para os usuários da meia entrada e proporciona mais rigor na fiscalização.</p>
                     <!-- Full width -->
                     
					 <!-- Painel de resumo -->
					<div class="full-width">
						<div class="row">
							<div class="col-md-12">
								<div class="panel panel-info">
								 <div class="panel-heading">
									<h5 class="panel-title"> Resumo </h5>                           
								 </div>
								 <div class="panel-body">                          
									 <p>A Lei nº 12.933 dispõe sobre o benefício do pagamento de meia-entrada para estudantes, idosos, pessoas com deficiência e jovens de 15 a 29 anos comprovadamente carentes em espetáculos artístico-culturais e esportivos, e revoga a Medida Provisória no 2.208, de 17 de agosto de 2001.</p>
								 </div>
								 
								 <ul class="list-group">
									<li class="list-group-item"><span style="margin: 15px"><i class="fa fa-angle-right"></i>Assegura o benefício da meia-entrada à estudantes, idosos, deficientes, e jovens carentes de 15 a 19 anos </span></li>
									<li class="list-group-item"><span style="margin: 15px"><i class="fa fa-angle-right"></i>Concede a emissão da Carteiria de Identificação Estudantil (CIE) à UNE, UBES, ANPG e sua filiadas  </span></li>
									<li class="list-group-item"><span style="margin: 15px"><i class="fa fa-angle-right"></i>Exige a presença do Certificado Digital emitido pelo Instituito Nacional de Tecnologia da Informação  </span></li>
									<li class="list-group-item"><span style="margin: 15px"><i class="fa fa-angle-right"></i>Limita a validade do documento a 31 de março do ano seguinte a partir da data de expedição  </span></li>
									<li class="list-group-item"><span style="margin: 15px"><i class="fa fa-angle-right"></i>Reserva 40% dos ingressos de cada avento a usuários da meia-entrada  </span></li>
								 </ul>
								 
							   </div>
							</div>
						</div>
					</div>
					
					<!-- CTA starts -->
            
					<div class="cta">
					   <div class="row">
						  <div class="col-md-8">
							 <!-- First line -->
							 <p class="cbig">O texto da Lei 12.933 está disponível para leitura on-line. </p>
							 <!-- Second line -->
							 <p class="csmall">Você estudante ou produtor cultural consulte seus direitos e deveres.</p>
						  </div>
						  <div class="col-md-3">
							 <!-- Button -->
							 <div class="button"><a href="http://www.planalto.gov.br/ccivil_03/_ato2011-2014/2013/lei/l12933.htm">Ler on-line</a></div>
						  </div>
					   </div>
					</div>
            
            <!-- CTA Ends -->
					
					<!-- Sobre a CIE -->
                     <div class="row">
                        <div class="col-md-12">
						              <h4><span>Sobre a Carteira de Identificação Estudantil</span></h4>	
														
						<div class="panel-group" id="accordion">
                        <!-- Each item should be enclosed inside the class "accordion-group". Note down the below markup. -->                                             
                       
                       <!-- Firt Accordion -->
                       <div class="panel">
                         <div class="panel-heading">
                           <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                             <h5 class="panel-title">Quem pode emitir?</h5>
                           </a>
                         </div>
                         <div id="collapseOne" class="panel-collapse collapse">
                           <div class="panel-body">                             
                             <p>Apenas entidades do movimento estudantil estão autorizadas a emitir a Carteira de Identificação Estudantil (CIE). São elas: União Nacional dos Estudantes (UNE), União Brasileira dos Estudantes Secundaristas (UBES), Associação Nacional de Pós-Graduandos (ANPG), as Uniões Estaduais e Municipais de Estudantes (UEEs e UMEs), Diretórios e Centros Acadêmicos das universidades (DCEs, DAs e CAs). </p>
                           </div>
                         </div>
                       </div>
                       
                       <!-- Thrid accordion -->
                       <div class="panel">
                         <div class="panel-heading">
                           <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                             <h5 class="panel-title">O quê muda com a nova?</h5>
                           </a>
                         </div>
                         <div id="collapseTwo" class="panel-collapse collapse">
                           <div class="panel-body">                              
                             <p>Além de poder ser emitida apenas pelas entidades do movimento estudantil autorizadas, a Carteira de Identificação Estudantil (CIE) agora é padronizada nacionalmente e deve vir com certificação digital de segurança garantida pela parceria com Instituto Nacional de Tecnologia da Informação (ITI), autarquia ligada à presidência da república. A nova carteirinha contém um código de barras e um QR Code que traz mais segurança e tranquilidade ao usuário e ao bilheteiro, impedindo as fraudes.</p>
                           </div>
                         </div>
                       </div>
                       
                       <!-- Fourth accordion -->
                       <div class="panel">
                         <div class="panel-heading">
                           <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                             <h5 class="panel-title">Como solicito a minha?</h5>
                           </a>
                         </div>
                         <div id="collapseThree" class="panel-collapse collapse">
                           <div class="panel-body">                             
                             <p> A solicitação pode ser feita pelo próprio estudante neste portal.</p>
                             <div class="button"> <%= button_solicitacao_helper %></div>
                           </div>
                         </div>
                       </div>
                       
                       <!-- Fifth accordion -->
                       <div class="panel">
                         <div class="panel-heading">
                           <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                             <h5 class="panel-title"> Quem pode solicitar?</h5>
                           </a>
                         </div>
                         <div id="collapseFour" class="panel-collapse collapse">
                           <div class="panel-body">                          
                             <p>Podem solicitar a carteirinha estudantes regularmente matriculado em algum estabelecimento de ensino fundamental, médio, superior ou de pós-graduação credenciado pelo Ministério da Educação (MEC). Estudantes de cursos não reconhecidos pelo MEC (como os de informática, de idiomas, cursos de especialização de curta duração, etc.) NÃO podem solicitar a carteirinha. </p>
                           </div>
                         </div>
                       </div>
					   
					   <!-- sixth accordion -->
                       <div class="panel">
                         <div class="panel-heading">
                           <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                             <h5 class="panel-title">Quais documentos são necessários para a emissão?</h5>
                           </a>
                         </div>
                         <div id="collapseFive" class="panel-collapse collapse">
                           <div class="panel-body">                          
                             <ul class="list-group">
            								<li>Foto da face do estudante (preferencialmente 3x4) </li>
            								<li>Cópia do RG </li>
            								<li>Cópia do CPF </li>
            								<li>Cópia do comprovante de matrícula atualizado </li>								
            							 </ul>
                           </div>
                         </div>
                       </div>
					   
					   <!-- sixth accordion -->
                       <div class="panel">
                         <div class="panel-heading">
                           <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                             <h5 class="panel-title">Quanto custa?</h5>
                           </a>
                         </div>
                         <div id="collapseSix" class="panel-collapse collapse">
                           <div class="panel-body">                          
                            <p>O Documento possui um custo de confecção padronizado nacionalmente em R$30,00 </p>
                           </div>
                         </div>
                       </div>
					   
					   <!-- sixth accordion -->
                       <div class="panel">
                         <div class="panel-heading">
                           <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
                             <h5 class="panel-title">A carteirinha da <%= ENV['STUDENTCASYSTEM_NOME_ENTIDADE'] %> vale para todo o Brasil?</h5>
                           </a>
                         </div>
                         <div id="collapseSeven" class="panel-collapse collapse">
                           <div class="panel-body">                          
                             <p> Sim. A carteira tem validade de um ano e pode ser usada em todo o território nacional.</p>
                           </div>
                         </div>
                       </div>
                       
                     </div>
                     </div>
                     </div>
                     
                  </div>
               </div>
            </div> 
			
            <!-- Service ends -->                                  
         </div>
      </div>