         <div class="hero">
                        <!-- Title. Don't forget the <span> tag -->
                        <h3><span>Conheça sobre a UMESGO</span></h3>
                        <!-- para -->
                        <p>A União Metropolitana dos Estudantes Secundaristas de Goiânia é uma Organização não Governamental (ONG) que trabalha a favor dos estudantes, crianças e adolescentes de Goiânia e região.</p>
         </div>	
			<div class="presentation container">
				<div class="row">
					<div class="col-md-5">
						<%= image_tag 'une-umes-ubes.png', class:'img img-responsive', :alt=>"UNE UMES UBES" %>
					</div>
					<div class="col-md-7">
						<p>A UMESGO é uma entidade (ONG) que defende os estudantes, visando a qualidade do ensino, garantindo acesso a cultura, esporte e lazer através da Meia Entrada. Frequentemente realizamos palestras de conscientização em escolas públicas ou privadas sobre os mais diversos temas. A cada ano um tema é escolhido e abordado nas nossas palestras. Temos orgulho de desenvolver ações socias para os mais necessitados e representar os estudantes em discussões na Assembleia Legislativa do estado  de Goiás.  </p>
					</div>
				</div>
			</div>
			<div class="">
         <!-- Title. Don't forget the <span> tag -->
            <h4><span>Histórico</span></h4>
            <!-- para -->
            <p> Desde 2 de fevereiro de 2007 lutando a favor do estudante  </p>
         </div>			
			<div class="historico container">
				<div class="row">
					<div class="col-md-7">
						<p> União Metropolitana de Estudantes Secundaristas de Goiânia, Antiga sigla UNDES ( União Nacional dos Direitos Estudantis) 
                  passou a se chamar UMES GO para se enquadrar aos requisitos de filiação a UNE e UBES, para podermos então continuar a luta em pró dos estudantes de Goiânia pelos seus direitos e aumentar nossos benefícios, vamos juntos nessa luta pois unidos venceremos contra todo e qualquer poder politico, militar ou público que não façam valer aquilo que tanto lutamos um dia para conseguir.
                  </p>
					</div>
					<div class="col-md-5">
						<%= image_tag 'jornada-de-lutas.jpg', class:'img img-responsive', :alt=>'Luta UMESGO' %>
					</div>
				</div>
			</div>
				
			<!-- Início causas -->
			<div class="bandeiras container">
			<div class="row">
						<div class="">
                     <h4><span>Nossas principais bandeiras são:</span></h4>
						</div>
							<div class="col-md-3 col-sm-6">
							   <div class="afeature">
								  <div class="afmatter">
									 <!-- <i class="fa fa-cloud"></i> -->
									 <h4>Combate às drogas</h4>
									 <p>No ano de 2016 a UMESGo realizou uma série de palestras de conscientização contra as drogas para diversas escolas em Goiânia e região.</p>
								  </div>
							   </div>
							</div>
							<div class="col-md-3 col-sm-6">
							   <div class="afeature">
								  <div class="afmatter">
									 <h4>Meia entrada cultural</h4>
									 <p>A UMESGO trabalha para que os termos da Lei 12.933 (Lei da Meia entrada) sancioanada em 2013 sejam cumpridos à risca, pois essa é uma luta histórica. </p>
								  </div>
							   </div>                        
							</div>
							<div class="col-md-3 col-sm-6">
							   <div class="afeature">
								  <div class="afmatter">
									 <h4>Educação de Qualidade</h4>
									 <p>Nós acreditamos que só é possível desenvolver um país através da educação de qualidade, com escolas integrais para o ensino fundamental e médio. </p>
								  </div>
							   </div>                        
							</div>
							<div class="col-md-3 col-sm-6">
							   <div class="afeature">
								  <div class="afmatter">
									 <h4>Criança e Adolescente</h4>
									 <p>Em parceria com o Juizado da Infância e Juventude da Comarca Goiânia trabalhamos para a reeducação de jovens e crianças infratoras.</p>
								  </div>
							   </div>                        
							</div>                        
			</div>
			</div>
				
				
			<div class="about">
               <div class="row">
                  <div class="col-md-12">
                  
                     <!-- Team hero -->
                     <div class="">
                        <!-- Title. Don't forget the <span> tag -->
                        <h4><span>Membros</span></h4>
                        <!-- para -->
                        <p>A UMESGO tem muito orgulho dos seus membros. São eles que lutam pelos direitos dos estudantes visando uma universidade melhor. </p>
                     </div>
                     <!-- Our team -->
                     
                     <!-- Teams -->
                     
                     <div class="teams">
                        <div class="row">
                           <div class="col-md-3 col-sm-3 col-xs-6">
                              <!-- Staff #1 -->
                              <div class="staff">
                                 <!-- Picture -->
                                 <div class="pic">
                                    <%= image_tag 'avelino.jpg', class:"img img-responsive", alt:'Presidente da UMESGO' %>
                                 </div>
                                 <!-- Details -->
                                 <div class="details">
                                    <!-- Name and designation -->
                                    <div class="desig pull-left">
                                       <p class="name">Avelino Rafael</p>
                                       <em>Presidente</em>
                                    </div>
                                    <!-- Social media details. Replace # with profile links -->
                                    <div class="asocial pull-right">
                                       <a href="https://www.facebook.com/raffael.avelino"><i class="fa fa-facebook"></i></a>
                                       <a href="https://twitter.com/avelinorafael"><i class="fa fa-twitter"></i></a>
                                       <a href="#"><i class="fa fa-linkedin"></i></a>
                                    </div>
                                    <div class="clearfix"></div>
                                 </div>
                                 <hr />
                              </div>
                           </div>
                           <div class="col-md-3 col-sm-3 col-xs-6">
                           </div>
                           <div class="col-md-3 col-sm-3 col-xs-6">
                           </div>
                           <div class="col-md-3 col-sm-3 col-xs-6">
                           </div>
                        </div>                        
                     </div>
                     
                  </div>
               </div>
            </div>
						
			<div class="container">
			<div class="row">
				<div class="contact">
					<div class="">
							<!-- Title. Don't forget the <span> tag -->
							<h4><span>Onde estamos?</span></h4>
							<!-- para -->
							<p>Faça uma visita a UMESGO, deixe sua reclamação, sugestão, denúncia... Será um prazer recebê-lo.</p>
					</div>
					<div class="col-md-12">
						<!-- Google maps -->
						<div class="gmap">
							 <!-- Google Maps. Replace the below iframe with your Google Maps embed code -->
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3821.967066593445!2d-49.25765448557251!3d-16.678531388507043!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935ef1636255b3f5%3A0x78ea6e85b97a8599!2sRua+14%2C+56+-+St.+Central%2C+Goi%C3%A2nia+-+GO%2C+74030-050!5e0!3m2!1spt-BR!2sbr!4v1487865326765" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
					   </div>	  
					</div>                                        
				</div>
			</div>
			</div>
			
			<div class="bor"></div>

            <!-- Testimonials -->
            <div class="testimonial">
                <div class="container">
                     <div class="row">
                        <h4><span>Depoimentos</span></h4>
                        <div class="col-md-4 col-sm-4">
                           <!-- Testimonial #1 -->
                           <div class="test">
                              Representa muito bem o movimento estudantil Goiano. Estudo na Federal de Goiás e me sinto representada por essa galera massa.
                           </div>
                           <div class="test-arrow"></div>
                           <div class="tauth"><i class="fa fa-user"></i> Ana Rafaela <span class="color"></span></div>
                        </div>
                        
                        <div class="col-md-4 col-sm-4">
                           <!-- Testimonial #2 -->
                           <div class="test">
                              A melhor representante dos estudantes de Goiânia.
                           </div>
                           <div class="test-arrow"></div>
                           <div class="tauth"><i class="fa fa-user"></i> Ricardo Bento <span class="color"></span></div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                           <!-- Testimonial #3 -->
                           <div class="test">
                              Fazendo valer nossos direitos e sempre buscando deixar os estudantes ativos no movimento estudantil, que não pode parar!!!
                           </div>
                           <div class="test-arrow"></div>
                           <div class="tauth"><i class="fa fa-user"></i> Kely Patrícia Lima Silva <span class="color"></span></div>
                        </div>                        
                     </div>
                  </div>
            </div>