/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "magnific-popup";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "flexslider";
@import "style";
@import "blue";
@import "prettyPhoto";
@import "font-awesome.min";
@import "jquery-ui";


/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

 .progress-input-file {
    margin: 4px 0px 0px 0px;
    height: 12px;
}

.progress-bar-input-file{
    font-size: 11px;
    line-height: 15px;
    min-width: 2em;
}

.filename-progressbar {
    font-size: 0.8em;
}

.filename-link {
    font-size: 1em;
}

/* modals */

.modal-header h4{
    color: #FFF;
}

.modal-bady > div{
    
}

/* Jquery UI Autocomplete */
ul.ui-autocomplete{
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    cursor: default;
    z-index: 1511;
    li{
        background-color: #FFF;
        margin: 0;
        padding: 2px 0px 2px 5px;
    }

    .ui-menu .ui-menu-item a.ui-corner-all:hover, .ui-menu .ui-menu-item a.ui-corner-all:focus, .ui-menu .ui-menu-item a.ui-corner-all:active {
    background: #FFF !important;
    color:#000;
    border-radius:0;
    padding: 2px;
    }

    .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
        background: #1E90FF;
        border: none;
        border-radius:0;
        font-weight: normal;
        color: #FFF;
    }

}

/* Form carteirinha, efeito de fip */

#flip-card{
    width: 398px;
    height: 258px;
    position: relative;
    -webkit-perspective: 1000px;    
}

#flip-card img {
    border-radius: 15px;
}

#card{
    transition: 1.5s;
    -webkit-transform: 2s;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    position: relative;
}


#front, #back{
    width: 398px;
    height: 258px;
    backface-visibility: hidden;
    position: absolute;
}

#front{
    z-index: 2;
}

#back{
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}