<h1 class="text-primary">Cadastro</h1>

<p>Caro&nbsp;<%= @estudante.email %>,</p>

<p> Você foi cadastrado no nosso banco de dados, provavelmente você solicitou sua Carteira de Identificação Estudantil conosco. </p>

<p>Você pode solicitar sua Carteira de Identificação Estudantil ou acompanhar a sua solicitação pelo nosso portal online, basta <a href="<%= @url %>"> redefinir sua senha. </a></p>